@import "tailwindcss";

@font-face {
  font-family: "Bahnschrift";
  src: url("../BAHNSCHRIFT3.TTF") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("../BAHNSCHRIFT\ 4.TTF") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../Poppins-Medium.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../Poppins-Regular.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@theme {
    --font-bahnschrift : "Bahnschrift", "sans-serif";
    --font-poppins : "Poppins", "sans-serif"
}